### 方法一

In [13]:
data <- data.frame(c('Austin', 'Dallas', 'Austin', 'Dallas'), c('Sun', 'Sun', 'Mon', 'Mon'), c(139, 237, 326, 456))
colnames(data) <- c('cities', 'weekdays', 'visitors')
data

  cities weekdays visitors
1 Austin Sun      139
2 Dallas Sun      237
3 Austin Mon      326
4 Dallas Mon      456

### 方法二

In [14]:
cities <- c('Austin', 'Dallas', 'Austin', 'Dallas')
weekdays <- c('Sun', 'Sun', 'Mon', 'Mon')
visitors <- c(139, 237, 326, 456)
data <- data.frame(cities, weekdays, visitors)
data

  cities weekdays visitors
1 Austin Sun      139
2 Dallas Sun      237
3 Austin Mon      326
4 Dallas Mon      456

## 一個簡單例子
假設你想知道如果利用 pandas 計算上述資料中，每個 weekday 的平均 visitor 數量，

通過 google 你找到了 https://stackoverflow.com/questions/30482071/how-to-calculate-mean-values-grouped-on-another-column-in-pandas

想要測試的時候就可以用 visitors_1 這個只有 4 筆資料的資料集來測試程式碼

In [18]:
library(plyr)
ddply(data, .variables = "weekdays", summarize, mean_visitors = mean(visitors))

  weekdays mean_visitors
1 Mon      391
2 Sun      188

## 練習時間
在小量的資料上，我們用眼睛就可以看得出來程式碼是否有跑出我們理想中的結果

請嘗試想像一個你需要的資料結構 (裡面的值可以是隨機的)，然後用上述的方法把它變成 pandas DataFrame

#### Ex: 想像一個 dataframe 有兩個欄位，一個是國家，一個是人口，求人口數最多的國家

### Hints: [隨機產生數值](https://blog.csdn.net/christianashannon/article/details/78867204)

In [26]:
data <- data.frame(c('A', 'B', 'C', 'D'), sample(10^3:10^4, 4, replace = TRUE))
colnames(data) <- c('countries', 'population')
data
apply(data, 2, max)

  countries population
1 A         3837
2 B         5566
3 C         1865
4 D         6746

 countries population
       "D"     "6746"